*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 100px;
}
.music-box{
    height: 100vh;
    background-color: #eeeff5;
}
.musics-box{
    height: 100%;
}
.music-info-box{
    position: relative;
    height: 70%;
    overflow: hidden;
}
.music-info-box .music-img{
    position: absolute;
    filter: blur(8px);
    width: 100%;
    height: 100%;
}
.music-info-box .music-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-image: url("../1.jpg");
    background-size: contain;
    border: 10px solid rgba(0,0,0,.4);
    animation: circle-rotate 5s linear infinite;
    animation-play-state: paused;
}

@media screen and (max-width:640px) {
    .music-info-box .music-bg{
        margin-top: -1rem;
        margin-left: -1rem;
        width: 2rem;
        height: 2rem;
    }
}
@keyframes circle-rotate {
    from {transform: rotate(0deg) }
    to {transform: rotate(360deg)}
 }
.music-info-box .music-lrc{
    position: absolute;
   bottom: 0;
}
.music-info-box .music-lrc>div{
    position: relative;
    padding:10px;
}
.music-info-box .music-lrc p{
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-size: .14rem;
}
.music-info-box .music-lrc p.cur{
    color: #18e461;
}
.music-play-control{
    position: relative;
    padding-top:.15rem;
}
.music-play-control .play-control{
    position: absolute;
    top: .23rem;
    left: 5%;
    color: #fff;
    width: .26rem;
    height: .2rem;
}
.music-info-box .music-play-control p{
    color: #fff;
    font-family: cursive ,"Microsoft YaHei UI";
    font-size: .16rem;
    line-height: 1.2;
    text-align: center;
}
.music-info-box .music-play-control p.title{
    font-size: .18rem;
    font-weight: 700;
    width: 2.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}
.music-play-control .icon{
    display: inline-block;
    width: .26rem;
    height: .20rem;
    font-weight: 700;
}
.music-play-control .list{
    position: absolute;
    right: 2%;
    top: .23rem;
    color: #85889f;
}
.music-play-control .list:hover{
    color: #fff;
}
.music-info-box .info{
    width: 100%;
    height: .65rem;
    background-color: rgba(0,0,0,.3);
    overflow: hidden;
}
.music-info-box .music-info{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding:10px 0;
}
.player-box{
    height: 30%;
}
.player-box .progress{
    position: relative;
}
.player-box .progress .bar{
    height: 8px;
    background-color: #ed5e74;
    cursor: pointer;
}
.player-box .progress .bar .progress-now{
    background-color: #fff;
    height: 8px;
}
.progress .time{
    padding-left: 10px;
    padding-top: 6px;
    font-size: .12rem;
    color: #ed5e74;
}
.progress .time-total{
    float: right;
    padding-right: 10px;
}
.music:after{
    clear: both;
    display: block;
    content: ""
}
.player-box .icon,
.playList .icon{
    position: absolute;
    display: inline-block;
    width: .36rem;
    height: .36rem;
    background-color: #fff;
    border-radius: 50%;
}
.fa{
    position: absolute;
    font-family: "iconfont";
    font-style:normal;
    font-size: .2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.share{
    top: .13rem;
    left: 5%;
}
.like{
    top: .13rem;
    right: 5%;
}
.music{
    margin-top: .2rem;
    position: relative;
}
.music-control{
    position: absolute;
    left: 50%;
    width: 1.7rem;
    height: .54rem;
    transform: translateX(-50%);
}
.music-control .icon{
    background-color: #60558f;
    color: #fff;
}
.music .prev{
    top: 14px;
}
.music .play{
    left: 58px;
    width: .54rem;
    height: .54rem;
    z-index: 1;
}
.music .next{
    top: 14px;
    left: 132px;
}
.music .play .fa{
    font-size: 24px;
}
.music .sound-volume{
    position: absolute;
    top: 0.8rem;
    left: 5%;
    width: 88%;
    height: 0.04rem;
}
.music .sound-volume .bar{
    height: 3px;
    background-color: #ed5e74;
}
.sound-volume .volume-now{
    height: 3px;
    background-color: #fff;
}
.sound-volume .voice{
    position: absolute;
    width: 22px !important;
    height: 22px !important;
    padding-top: 2px !important;
    padding-left: 2px !important;
    top: -10px;
}
.playList{
    padding: 30px;
    display: none;
    height: 100vh;
}
.playList h3{
    position: relative;
    color: #60558f;
    text-align: center;
    font-size: .16rem;
    line-height: 1.5em;
    margin-bottom: .2rem;
}
.playList .back{
    left: 0;
    top: -5px;
}
.albumList{
    height: 90vh;
    overflow-y: auto;
}
.albumList li{
    font-size: .14rem;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
    color: #2f1a4b;
    cursor: pointer;
}
.icon-voice{
    font-size: 18px !important;
    color: #60558f;
}
.icon-play,
.icon-stop{
    top: 16px;
    left: 16px;
}
.icon-share{
    color: #60558f;
    top: 8px;
    left: 6px;
}
.icon-next,
.icon-prev,
.icon-like{
    top: 8px;
    left: 8px;
}
.icon-like{
    color: #ed5e74;
}
.icon-back{
    font-size: 16px;
    top: 3px;
    left: 10px;
}