
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1500368887375'); /* IE9*/
    src: url('iconfont.eot?t=1500368887375#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1500368887375') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1500368887375') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1500368887375#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-list:before { content: "\e60f"; }

.icon-stop:before { content: "\e664"; }

.icon-share:before { content: "\e618"; }

.icon-randomPlay:before { content: "\e600"; }

.icon-like:before { content: "\e6c2"; }

.icon-singleCycle:before { content: "\e607"; }

.icon-circulation:before { content: "\e63f"; }

.icon-prev:before { content: "\e613"; }

.icon-next:before { content: "\e614"; }

.icon-play:before { content: "\e674"; }

.icon-voice:before { content: "\e601"; }
.icon-point:before { content: "\e647"; }
.icon-back:before { content: "\e64f"; }

